

*.pyc

/ATVSettings.cfg

/Settings.cfg

PlexConnect.log

*.cer

*.key

*.pem

*.der

*.pyproj

*.sln

*.suo


/assets/templates/plex/images/custom/top/*.png

/assets/templates/plex/images/custom/flow/*.png

/assets/templates/MoviePrePlay_Fanart.xml

/assets/templates/EpisodePrePlay_Fanart.xml