

*.pyc

/ATVSettings.cfg

/Settings.cfg

PlexConnect.log

*.cer

*.key

*.pem

*.der

*.pyproj

*.sln

*.suo

/assets/templates/plex/images/custom/top/*.png

/assets/templates/plex/images/custom/flow/*.png


/assets/templates/MoviePrePlay_Fanart.xml

/assets/templates/EpisodePrePlay_Fanart.xml

/assets/fanartcache/tmp.png

/assets/fanartcache/*.png
assets/templates/Playlists/View.xml

assets/templates/TVShow/DetailedList.xml

assets/templates/TVShow/Episode_List_Fanart.xml

assets/templates/TVShow/Episode_List.xml

assets/templates/Channels/View.xml

assets/templates/TVShow/Season_Coverflow_Fanart.xml

assets/templates/TVShow/Season_List_Fanart.xml
