
*.pyc

/ATVSettings.cfg

/Settings.cfg

PlexConnect.log

*.cer

*.key

*.pem

*.der

/assets/fanartcache/*.png

/assets/templates/plex/images/custom/flow/*.png

/assets/templates/plex/images/custom/top/*.png
