<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>javascript-url</key>
        <string>http://127.0.0.1:80/js/application.js</string>
        <key>auth-type</key>
        <string>js</string>
        <key>enabled</key>
        <string>YES</string>
        <key>menu-title</key>
        <string>PlexConnect</string>
        <key>merchant</key>
        <string>PlexConnect</string>
        <key>menu-icon-url</key>
        <dict>
            <key>720</key>
            <string>file://__INSTALLERPATH__/plexconnect.png</string>
            <key>1080</key>
            <string>file://__INSTALLERPATH__/plexconnect.png</string>
        </dict>
    </dict>
</plist>
