<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.plex.plexconnect.bash</string>
	<key>Program</key>
	<string>__INSTALLERPATH__/PlexConnect.bash</string>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>__PLEXCONNECTPATH__</string>
	<key>StandardOutPath</key>
	<!--string>./PlexConnect_stdout.log</string-->
	<string>/dev/null</string>  <!--skip output - swap comment markers for debugging-->
	<key>StandardErrorPath</key>
	<!--string>./PlexConnect_stderr.log</string-->
	<string>/dev/null</string>  <!--skip output - swap comment markers for debugging-->
</dict>
</plist>
