<?xml version="1.0" encoding="UTF-8"?> 
<atv> 
  <head>{{CUT(^aTVFirmwareVersion:CUT:4.0=|6.0=CUT)}}
    <script src="{{URL(:/js/utils.js)}}"/> 
  </head> 
  
  <body>{{CUT(^aTVFirmwareVersion:CUT:4.0=|6.0=CUT)}}
    <optionDialog id="scrobble.optionDialog">
      <header>
        <simpleHeader>
          <title>{{VAL(title1)}}</title>
          <subtitle>{{VAL(title2)}}</subtitle>
        </simpleHeader>
      </header> 
      
      <menu>
        <sections>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title></title>
              </horizontalDivider>
            </header>
            
            <items>
              <oneLineMenuItem id="item2" onSelect="markItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}', 'scrobble');atv.unloadPage();">
                <label>{{TEXT(Mark as Watched)}}</label>
              </oneLineMenuItem>
        
              <oneLineMenuItem id="item3" onSelect="markItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}', 'unscrobble');atv.unloadPage();">
                <label>{{TEXT(Mark as Unwatched)}}</label>
              </oneLineMenuItem>
        
              <oneLineMenuItem id="item4" onSelect="atv.loadURL('{{URL(key:::PlexConnect=Artwork_ChangeShowArtwork)}}')">
                <label>{{TEXT(Change All Posters)}}</label>
              </oneLineMenuItem>{{CUT(viewGroup:CUT:season=)}}
        
              <oneLineMenuItem id="item4" onSelect="atv.loadURL('{{URL(key:::PlexConnect=Artwork_ChangeSingleArtwork)}}')">
                <label>{{TEXT(Change Poster)}}</label>
              </oneLineMenuItem>{{CUT(viewGroup::episode=|season=CUT)}}
            </items>
          </menuSection>
          
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title></title>
              </horizontalDivider>
            </header>
            
            <items>
              <oneLineMenuItem id="item4" onSelect="deleteItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}');atv.unloadPage();">
                <label>{{TEXT(Delete Item)}}</label>
              </oneLineMenuItem>
            </items>
          </menuSection>{{CUT($allowdeletion::Yes=|No=CUT)}}
        </sections>
      </menu>
    </optionDialog>
  </body>
  
  <body>{{CUT(^aTVFirmwareVersion::4.0=CUT|6.0=)}}
    <popUpMenu id='context_menu'>
      <sections>
        <menuSection>
          <items>
            <oneLineMenuItem id="item2" onSelect="markItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}', 'scrobble');updateContextXML();">
              <label>{{TEXT(Mark as Watched)}}</label>
            </oneLineMenuItem>
        
            <oneLineMenuItem id="item3" onSelect="markItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}', 'unscrobble');updateContextXML();">
              <label>{{TEXT(Mark as Unwatched)}}</label>
            </oneLineMenuItem>
            
            <oneLineMenuItem id="item4" onSelect="atv.loadURL('{{URL(key:::PlexConnect=Artwork_ChangeShowArtwork)}}')">
              <label>{{TEXT(Change All Posters)}}</label>
            </oneLineMenuItem>{{CUT(viewGroup:CUT:season=)}}
        
            <oneLineMenuItem id="item4" onSelect="atv.loadURL('{{URL(key:::PlexConnect=Artwork_ChangeSingleArtwork)}}')">
              <label>{{TEXT(Change Poster)}}</label>
            </oneLineMenuItem>{{CUT(viewGroup::episode=|season=CUT)}}
            
            <oneLineMenuItem id="item4" onSelect="atv.loadURL('{{URL(key:::PlexConnect=Artwork_ChangeFanart)}}')">
              <label>{{TEXT(Change Fanart)}}</label>
            </oneLineMenuItem>{{CUT(viewGroup::episode=CUT|season=)}}
          </items>
        </menuSection>
        
        <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title></title>
              </horizontalDivider>
            </header>
            
            <items>        
            <oneLineMenuItem id="item4" onSelect="deleteItem('{{VAL(%baseURL)}}', '{{VAL(%accesstoken)}}', '{{VAL(key)}}');updateContextXML();">
              <label>{{TEXT(Delete Item)}}</label>
            </oneLineMenuItem>
          </items>
        </menuSection>{{CUT($allowdeletion::Yes=|No=CUT)}}
      </sections> 
    </popUpMenu>
  </body>
</atv>
