<?xml version="1.0" encoding="UTF-8"?>
<atv>
  <head>
    <script src="{{URL(:/js/utils.js)}}" />
    <script src="{{URL(:/js/settings.js)}}" />
  </head>

  <body>
    <listWithPreview id="SettingsPage">
      <header>
        <simpleHeader>
          <title>{{TEXT(Settings)}}</title>
        </simpleHeader>
      </header>
      <preview>
        <keyedPreview>
          <title>&#x00AD;<!--soft-hyphen--></title>
          <summary/>
          <metadataKeys>
            <label>{{TEXT(Version)}}</label>
            <label>{{TEXT(Authors)}}</label>
            <label>{{TEXT(Wiki/Docs)}}</label>
            <label>{{TEXT(Homepage)}}</label>
            <label>{{TEXT(Forum)}}</label>
          </metadataKeys>
          <metadataValues>
            <label>Alpha</label>
            <label>Baa, roidy</label>
            <label>f00b4r</label>
            <label>https://github.com/ibaa/plexconnect</label>
            <label>http://forums.plexapp.com/index.php/forum/136-appletv-plexconnect/</label>
          </metadataValues>
          <image>{{URL(:/thumbnails/PlexConnectLogo.jpg)}}</image>
        </keyedPreview>
      </preview>

      <menu>
        <sections>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title>{{TEXT(Appearance)}}</title>
              </horizontalDivider>
            </header>
            <items>
              <oneLineMenuItem id="MovieView" onSelect="atv.loadURL('{{URL(:/)}}&amp;PlexConnect=SettingsMovies')">
                <label>{{TEXT(Movie Options)}}</label>
                <accessories>
                  <arrow/>
                </accessories>
              </oneLineMenuItem>
              <oneLineMenuItem id="ShowView" onSelect="atv.loadURL('{{URL(:/)}}&amp;PlexConnect=SettingsTVShows')">
                <label>{{TEXT(TV Show Options)}}</label>
                <accessories>
                  <arrow/>
                </accessories>
              </oneLineMenuItem>
              <oneLineMenuItem id="VideoOSD" onSelect="atv.loadURL('{{URL(:/)}}&amp;PlexConnect=SettingsVideoOSD')">
                <label>{{TEXT(Video Player OSD)}}</label>
                <accessories>
                  <arrow/>
                </accessories>
              </oneLineMenuItem>
              <oneLineMenuItem id="DurationFormat" onSelect="toggleSettings('DurationFormat', 'Settings')">
                <label>{{TEXT(Duration Format)}}</label>
                <rightLabel>{{SETTING(durationformat)}}</rightLabel>
              </oneLineMenuItem>
            </items>
          </menuSection>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title>{{TEXT(Transcoder)}}</title>
              </horizontalDivider>
            </header>
            <items>
              <oneLineMenuItem id="TranscoderAction" onSelect="toggleSettings('TranscoderAction', 'Settings')">
                <label>{{TEXT(Transcoder Action)}}</label>
                <rightLabel>{{SETTING(transcoderaction)}}</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="TranscodeQuality" onSelect="toggleSettings('TranscodeQuality', 'Settings')">
                <label>{{TEXT(Transcoder Quality)}}</label>
                <rightLabel>{{SETTING(transcodequality)}}</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="SubtitleSize" onSelect="toggleSettings('SubtitleSize', 'Settings')">
                <label>{{TEXT(Subtitle Size %)}}</label>
                <rightLabel>{{SETTING(subtitlesize)}}</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="AudioBoost" onSelect="toggleSettings('AudioBoost', 'Settings')">
                <label>{{TEXT(Audio Boost %)}}</label>
                <rightLabel>{{SETTING(audioboost)}}</rightLabel>
              </oneLineMenuItem>
            </items>
          </menuSection>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title>{{TEXT(Plex Media Server)}}</title>
              </horizontalDivider>
            </header>
            <items>
              <oneLineMenuItem id="discover" onSelect="discover('discover','PMS_uuid')">
                <label>{{TEXT(Discover)}}</label>
                <rightLabel>Plex Media Servers: {{PMSCOUNT()}}</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="PMS_uuid" onSelect="toggleSettings('PMS_uuid', 'Settings')">
                <label>{{TEXT(PMS)}}</label>
                <rightLabel>{{PMSNAME()}}</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="refreshLibrary" onSelect="refreshLibrary('{{ADDR_PMS()}}')">
                <label>{{TEXT(Refresh Library)}}</label>
              </oneLineMenuItem>
            </items>
          </menuSection>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
            <title>{{TEXT(MyPlex)}}</title>
              </horizontalDivider>
            </header>
            <items>
              <oneLineMenuItem id="MyPlex" onSelect="atv.loadURL('{{URL(:/)}}&amp;PlexConnect=SettingsMyPlex')">
                <label>{{TEXT(MyPlex)}}</label>
                <accessories>
                  <arrow/>
                </accessories>
              </oneLineMenuItem>
            </items>

          </menuSection>
        </sections>
      </menu>
    </listWithPreview>
  </body>
</atv>
