<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.plex.plexconnect.auto</string>
	<key>Program</key>
	<string>/usr/bin/updatebash.bash</string>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/usr/bin</string>
        <key>StartInterval</key>
        <integer>21600</integer>
</dict>
</plist>
