<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
  <string>com.plex.plexconnect</string>
	<key>WorkingDirectory</key>
	<string>__PLEXCONNECTPATH__</string>
    <key>ProgramArguments</key>
	<array>
	    <string>__PLEXCONNECTPATH__/PlexConnect.py</string>
	</array>
    <key>RunAtLoad</key>
	<true/>
    <key>KeepAlive</key>
	<true/>
</dict>
</plist>
